{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    {% for item in messages %}
        <div class="alert alert-info" role="alert">
            {{ item }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col"><h3>Все группы</h3></div>
        <div class="col"><a href="{% url 'mainapp:create_group' %}" class="btn btn-success">Создать</a></div>
    </div>


    <div class="container">
        {% for item in group %}
            <div class="card mt-3">
                <div class="card-title">
                    <h3>{{ item.name }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ item.desc|linebreaksbr }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col"><a href="#">посмотреть</a></div>
                        <div class="col"><a href="{% url 'mainapp:edit_group' item.pk %}" class="btn btn-info">редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}