{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <h3>Все группы</h3>
    <a href="">Создать</a>
    <div class="container">
        {% for item in group %}
            <div class="card">
                <div class="card-title">
                    <h3>{{ item.name }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ item.desc|linebreaksbr }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col"><a href="">посмотреть</a></div>
                        <div class="col">редактировать</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}